.tab {
  background-color: FCF8EC;
  position: relative;
  // width: 100%;
  // height: 100vh;
  margin-top: 100px;
  display: flex;
  padding: 1%;
  justify-content: start;
}

// @media (max-width: 991px) {
//   .tab {
//     display: flex;
//     // flex-direction: column-reverse;
//     gap: 25px;
//   }
// }

// @media (max-width: 414px) {
//   .tab {
//     padding: 15px;
//   }
// }

.container {
  display: flex;
  justify-content: center;
  // align-items: center; /* Aligns at the top */
  margin-top: 5%;
}
.page {
  display: flex;
  justify-content: center;
  height: 120vh;
}
