.tab {
  background-color: FCF8EC;
  width: auto;
  height: 60vh;
  padding: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  .btncnttt {
    display: grid;
    justify-items: center;
    top: 10px;
    right: 10px;
    width: 25%;
    overflow-y: auto;
    height: 420px;

    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    margin-right: 30px;
    border-radius: 1%;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #cae4db;
    & button {
      display: flex;
      background-color: whitesmoke;
      color: black;
      padding: 15px 10px 15px 8px;
      width: 80%;
      height: 60px;
      outline: none;
      margin: 5px;
      text-align: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      border: 0.01px solid white;
      border-radius: 5%;
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;

      &:hover {
        background-color: #00303f;
        color: white;
      }

      &.active {
        background-color: #00303f;
        color: #f5f4f4;
      }
    }
  }

  .concnt {
    display: flex;
    width: 75%;
    li,
    h4 {
      font-family: "Open Sans", sans-serif;
      font-size: small;
      color: #0000008a;
    }
    .tabcontent {
      float: right;
      padding: 0px 12px;
      width: auto;
      border-left: none;
      height: 100%;

      .textDivChild {
        display: flex;
        flex-direction: column;
        .textDivChildContant {
          width: 60%;
          
          font-family: "Open Sans, sans-serif";
          font-size: 19px;
          color: rgba(0, 0, 0, 0.64);
        }
        svg {
          overflow: visible !important;

        }
        image {
          width: 500px;
          height: 250px;
          border-radius: 60px;
        }
      }

      &.hidden {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  /* Apply styles for screens larger than 1200px */
  .tab {
 
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .tab {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;

    .btncnttt {
      width: 70%;
      margin-left: 15%;
      & button {
        margin-bottom: 0.5%;
      }
    }
    .concnt {
      width: 100%;
      .textDiv {
        .textDivChild {
          display: flex;
        }
        image {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .tab {
    padding: 15px;
    .concnt {
      width: 100%;
      .logoDiv {
        padding-top: 0px;
        svg {
          width: 30px;
          image {
            width: 30px;
          }
        }
      }
      .textDiv {
        width: 100%;
        h2 {
          font-size: 16px;
          padding-top: 5px;
        }
        .textDivChild {
          display: flex;
          flex-direction: column-reverse;
          .textDivChildContant {
            width: 100%;
          }
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.toggleButton {
  padding: 10px 20px;
  background-color: #00303f;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #cae4db;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  width: 300px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 5px;

  &:hover {
    background-color: #001f26;
  }

  @media (max-width: 1374px) {
    width: 200px;
  }
}

.btn {
  display: grid;
  justify-items: center;
  top: 10px;
  right: 10px;
  background-color: white;
  width: 300px;
  transition: max-height 0.3s ease-in-out;
  overflow-y: auto;
  max-height: 300px;

  &::-webkit-scrollbar {
    width: 8px; // Make scrollbar invisible
  }

  // Optional: Style the track, thumb, etc. (adjust to fit your design)
  &::-webkit-scrollbar-track {
    background: #f1f1f1; // Track color
  }

  &::-webkit-scrollbar-thumb {
    background: #888; // Thumb color
  }

  &.collapsed {
    max-height: 0;
    overflow: hidden;
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    color: black;
    height: 72px;
    width: 90%;
    border-style: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 5px;

    &:hover {
      background-color: #00303f9d;
      color: white;
    }

    &.active {
      background-color: #00303f9d;
      color: #f5f4f4;
    }
  }
}

@media (max-width: 1374px) {
  .btn {
    width: 200px;
  }
}

@media (max-width: 1169px) {
  .btn {
    width: 150px;
  }

  .toggleButton {
    width: 150px;
  }
}

@media (max-width: 1059px) {
  .btn {
    width: 300px;
    right: -150px;
  }
.tab {
  height: 100vh;
}
  .toggleButton {
    width: 300px;
    right: -150px;
    margin-top: 180px;
    margin-bottom: 40px;
  }
}
