.page {
  display: flex;
  justify-content: center;
  padding-top: 50px;

  &__tab {
    width: 25%; // Adjust as needed
    padding: 20px;
    box-sizing: border-box;

    @media only screen and (max-width: 1059px) {
      width: 100%;
    }
  }

  &__container {
    width: 75%; // Adjust as needed
    padding: 20px;
    box-sizing: border-box;
  }
}

.container {
  display: grid;
  justify-content: center;
}

.tab {
  display: flex;
  justify-items: center;

  @media (max-width: 991px) {
    button {
      font-size: 16px;
      font-weight: 600;
    }
    .focus-in-expand h1 {
      font-size: 40px;
    }
    image {
      width: 300px;
      height: 200px;
      padding: 10px;
    }
    display: flex;
    flex-direction: column;
  }
  //todo
  .btncnttt {
    display: grid;
    justify-items: center;
    top: 10px;
    right: 10px;
    min-width: 300px;
    overflow-y: auto;
    height: 420px;
    margin-right: 30px;
    margin-left: 30px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #cae4db;

    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    & button {
      display: flex;
      background-color: whitesmoke;
      color: black;
      width: 90%;
      height: 60px;
      outline: none;
      margin: 5px;
      text-align: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      border: 0.01px solid white;
      border-radius: 10px;
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;

      &:hover {
        background-color: #00303f;
        color: white;
      }

      &.active {
        background-color: #00303f;
        color: #f5f4f4;
      }
    }
  }

  .concnt {
    display: flex;
    min-width: 200px;
    max-width: 700px;
    padding: 10px;
    // @media only screen and (max-width: 991px) {
    //   display: grid;
    // }
    li,
    h4 {
      font-family: "Open Sans", sans-serif;
      font-size: small;
      color: #0000008a;
    }

    .tabcontent {
      .textDivChild {
        position: relative;
        display: flex;
        text-align: start;
        @media only screen and (max-width: 991px) {
          display: grid;
        }
        .textDivChildContant {
          margin: 0 auto; /* Center content horizontally */

          padding: 0 15px; /* Add padding for better readability */
          font-family: "Open Sans, sans-serif";
          font-size: 22px;
          color: rgba(0, 0, 0, 0.64);
        }

        li {
          font-size: 18px;
        }

        .serviceImage {
          display: flex;
          height: auto; /* Maintain aspect ratio */
          margin: 0 auto;

          width: 300px;
          height: 150px;
        }
      }

      &.hidden {
        display: none;
      }
    }
  }
}

.toggleButton {
  padding: 10px 20px;
  background-color: #00303f;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #cae4db;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 5px;

  &:hover {
    background-color: #001f26;
  }
}
.focus-in-expand {
  display: block;
  font-size: 65px;
  font-weight: 700;
  text-align: center;
  color: #00303f;
  margin-top: 100px;
  animation: focus-in-expand 6.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.btn {
  display: grid;
  justify-items: center;

  background-color: white;
  width: 300px;
  transition: max-height 0.3s ease-in-out;
  overflow-y: auto;
  max-height: 300px;
  box-shadow: 0px 0px 10px 0px #cae4db;
  &::-webkit-scrollbar {
    width: 1px;
  }

  /* Rest of the scrollbar styles */

  &.collapsed {
    max-height: 0;
    overflow: hidden;
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    color: black;
    height: 72px;
    width: 90%;
    border-style: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0.01px solid white;
    &:hover {
      background-color: #00303f9d;
      color: white;
    }

    &.active {
      background-color: #00303f9d;
      color: #f5f4f4;
    }
  }
}
