.ag-maecenas_title {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 250px 0;
  background-size: cover;
  background-position: center center;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  color: rgb(255, 255, 255);
  letter-spacing: 60px; /* Adjust the value according to your preference */
  z-index: 2;
  height: 100vh;
}
.ag-maecenas_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-bottom: 200px;
  // margin-top: -10px;
  object-position: center top; /* Adjust object-position as needed */
}
.enhanced-video {
  filter: brightness(50%) contrast(90%) saturate(120%);
  /* Add more filter properties as desired */
}
.ag-maecenas_item {
  display: flex;
  align-items: center;
  padding: 0 0 120px;

  .ag-requirement_item {
    padding: 10px 10px 10px 20px;
    position: relative;

    &:before {
      content: "";
      height: 6px;
      width: 6px;
      background-color: #00a2ff;
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 979px) {
  .ag-maecenas_video {
    // height: 65vh;
  }
  .ag-maecenas_title {
    font-size: 85px;
    letter-spacing: 24px;
    // padding: 170px 0;
  }
}

@media only screen and (max-width: 639px) {
  .ag-maecenas_video {
    // height: 65vh;
  }
  .ag-maecenas_title {
    font-size: 55px;
    letter-spacing: 14px;
    // padding: 170px 0;
  }
}

@media only screen and (max-width: 479px) {
  .ag-maecenas_video {
    // height: 65vh;
  }
  .ag-maecenas_title {
    font-size: 50px;
    letter-spacing: 14px;
    // padding: 120px 0;
  }
}
