.ag-maecenas_title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 0;
  height: 325px;
  background: url("/william.webp") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  color: rgb(255, 255, 255);
  letter-spacing: 60px; /* Adjust the value according to your preference */
}

.ag-maecenas_item {
  display: flex;
  align-items: center;
  padding: 0 0 120px;

  .ag-requirement_item {
    padding: 10px 10px 10px 20px;
    position: relative;

    &:before {
      content: "";
      height: 6px;
      width: 6px;
      background-color: #00a2ff;
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 979px) {
  .ag-maecenas_title {
    font-size: 85px;
    letter-spacing: 24px;
  }
}

@media only screen and (max-width: 639px) {
  .ag-maecenas_title {
    font-size: 55px;
    letter-spacing: 14px;
  }
}

@media only screen and (max-width: 479px) {
  .ag-maecenas_title {
    font-size: 50px;
    letter-spacing: 14px;
  }
}
