.ag-maecenas_title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 0;
  height: 325px;
  background: url("/william.webp") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  font-weight: bold;
  font-size: 160px;
  color: rgb(255, 255, 255);
  letter-spacing: 60px; /* Adjust the value according to your preference */

  &:before {
    content: "";
    height: 125px;
    width: 100%;
    background: url("/wave.svg") repeat-x scroll 0 0;
    background-size: 1600px 198px;
    position: absolute;
    left: 0;
    bottom: 0;
    filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, 0.2));
    animation: an-wave 20s linear infinite;
  }

  @keyframes an-wave {
    100% {
      background-position-x: -1600px;
    }
  }
}

@media screen and (max-width: 768px) {
  .ag-maecenas_title:before {
    display: none; /* Hide the wave SVG on smaller screens */
  }
}
.ag-maecenas_item {
  display: flex;
  align-items: center;
  padding: 0 0 120px;

  .ag-requirement_item {
    padding: 10px 10px 10px 20px;
    position: relative;

    &:before {
      content: "";
      height: 6px;
      width: 6px;
      background-color: #00a2ff;
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 979px) {
  .ag-maecenas_title {
    font-size: 85px;
    letter-spacing: 24px;
    &:before {
      height: 90px;
    }
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 639px) {
  .ag-maecenas_title {
    font-size: 55px;
    letter-spacing: 14px;
    &:before {
      height: 60px;
    }
  }
}

@media only screen and (max-width: 479px) {
  .ag-maecenas_title {
    font-size: 59px;
    letter-spacing: 14px;

    &:before {
      height: 40px;
    }
  }
}
