/* main.module.scss */

.content {
  display: flex;
  flex-direction: column;
  margin: 1px;
  margin-top: 100px;
}

.tabContent {
  display: none;

  &.active {
    display: flex;
    flex-direction: column; /* Default flex direction for tab content */
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    flex-direction: column;

    .textDivChild {
      flex-direction: column;

      .textDivChildContent {
        // width: 100%;
        padding: 0;
        margin-top: 15px;
      }

      svg {
        max-width: 100%;
      }
    }
  }

  /* Example styles for different elements inside tab content */
  .logoDiv {
    svg {
      width: 50px;
      height: 50px;
      /* Add SVG styles as needed */
    }
  }

  .textDiv {
    h2 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .textDivChild {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .textDivChildContent {
        max-width: 400px;
        padding: 0 15px;

        p {
          font-size: small;
          color: #0000008a;
          // margin: 0;
        }

        h4 {
          margin-top: 15px;
          font-size: small;
          color: #0000008a;
          // margin: 0;
        }

        ul {
          list-style: none;
          padding: 0;
          // margin: 0;

          li {
            font-size: small;
            color: #0000008a;
            margin-bottom: 5px;
          }
        }
      }

      svg {
        height: auto;
        margin-top: 15px;
        /* Additional SVG styles */
      }
    }
  }
}

// @media (max-width: 991px) {
// .tab {
//   display: flex;
//   flex-direction: column-reverse;
//   gap: 25px;

// .content {
//   width: 100%;
// }
// }
// }

// @media (max-width: 414px) {
//   // .tab {
//   // padding: 15px;
//   .content {
//     // width: 100%;
//     .logoDiv {
//       padding-top: 0px;
//       svg {
//         width: 30px;
//         image {
//           width: 30px;
//         }
//       }
//     }
//     .textDiv {
//       width: 100%;
//       h2 {
//         font-size: 16px;
//         padding-top: 5px;
//       }
//       .textDivChild {
//         display: flex;
//         flex-direction: column-reverse;
//         .textDivChildContent {
//           width: 100%;
//         }
//       }
//     }
//   }
//   // }
// }
