// styles/about.module.scss

.about-page {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 100%;
  padding-top: 20px;
  max-height: 100%;
  margin-bottom: 200px;
  font-family: "Red Hat Display", sans-serif !important;

  h1 {
    color: #000000;
    margin-top: 80px;
    font-size: 3.5rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0;
  }

  h2 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin: 0;
  }
  h3 {
    font-size: 20px;
    padding: 10px;
  }
  p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    max-width: 1620px;
    min-height: 115px;

    // text-align: start;

    @media (max-width: 768px) {
      min-height: 150px;
      text-align: start;
    }
  }

  .button-container {
    margin-bottom: 20px;

    button {
      margin: 10px;
      padding: 19px;
      border: none;
      border-radius: 10px;
      width: 200px;
      background: linear-gradient(45deg, #8db2d7, #006699);
      color: #fff;
      font-size: 18px;
      cursor: pointer;
    }

    button:hover {
      background: linear-gradient(45deg, #024364, #5b7894);
    }
  }

  text-align: center;

  // ... (same as before)

  .additional-info {
    // margin-top: 120px;
    // height: 80%;
    display: flex;
    justify-content: space-around;
  }

  .additional-info p {
    color: #000000;
    // margin-bottom: 10px;
    font-size: 40px;

    @media (max-width: 768px) {
      padding-top: 10px;
      font-size: 20px;
    }
  }
}

.aboutSectionStyle {
  width: 80%;
}

.more-info {
  font-size: 26px;
  font-weight: 500;
  margin-top: 100px;
}

.more-info a {
  margin-left: 7px;
  color: #006699;
  font-size: larger;
  font-weight: 700;
}
