.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.about-section img {
  max-width: 60%;
  border-radius: 8px;
  /* Initial styling for larger screens */

  /* Additional styling for smaller screens */
  @media (max-width: 1024px) {
    max-width: 70%;

    /* Add more styles for smaller screens if needed */
  }
  @media (max-width: 600px) {
    max-width: 100%;

    /* Add more styles for smaller screens if needed */
  }
} // .about-section {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
//   margin-bottom: 40px;
// }

// .about-section img {
//   max-width: 40%;
//   border-radius: 8px;
//   /* Initial styling for larger screens */

//   /* Additional styling for smaller screens */
//   @media (max-width: 1024px) {
//     max-width: 70%;

//     /* Add more styles for smaller screens if needed */
//   }
//   @media (max-width: 600px) {
//     max-width: 100%;

//     /* Add more styles for smaller screens if needed */
//   }
// }
